src/cz/abclinuxu/dtd/Category.dtd

<!ELEMENT data (name,icon?,desc?,note*)>
<!ELEMENT name (#PCDATA)> <!-- maximum length is few words -->
<!ELEMENT icon (#PCDATA)> <!-- absolute path including protocol, or relative path to icon directory -->
<!ELEMENT desc (#PCDATA)> <!-- longer description of this category, to be displayed at the top of category view -->
<!ELEMENT note (#PCDATA)> <!-- notes about this category. to be displayed at bottom of the category view -->
