src/cz/abclinuxu/dtd/Category.dtd

<!ELEMENT data (name,icon?,note?)>
<!ELEMENT name (#PCDATA)> <!-- maximum length is few words -->
<!ELEMENT icon (#PCDATA)> <!-- absolute path including protocol, or relative path to icon directory -->
<!ELEMENT note (#PCDATA)> <!-- longer description of this category, to be displayed at the top of category view -->
<!ATTLIST note format (#NMTOKEN) #OPTIONAL> <!-- integer, format of the text -->
