src/cz/abclinuxu/dtd/Item.dtd


<!-- Item.MAKE -->
<!ELEMENT data (name,icon?)>
<!ELEMENT name (#PCDATA)> <!-- maximum length is few words -->
<!ELEMENT icon (#PCDATA)> <!-- absolute path including protocol, or relative path to icon directory -->


<!-- Item.ARTICLE -->
<!ELEMENT data (name,icon?,perex,author,published,revisor?,editor?)>
<!ELEMENT name (#PCDATA)> <!-- title of the Article -->
<!ELEMENT icon (#PCDATA)> <!-- absolute path including protocol, or relative path to icon directory -->
<!ELEMENT perex (#PCDATA)> <!-- description of the article -->
<!ELEMENT author (#PCDATA)> <!-- id of the author -->
<!ELEMENT published (#PCDATA)> <!-- ISO representation of day and time, when this article has been published -->
<!ELEMENT revisor (#PCDATA)> <!-- who checked grammar and spelling -->
<!ELEMENT editor (#PCDATA)> <!-- who approved this article -->

