src/cz/abclinuxu/dtd/Item.dtd


<!-- Item.MAKE -->
<!ELEMENT data (name,icon?)>
<!ELEMENT name (#PCDATA)> <!-- maximum length is few words -->
<!ELEMENT icon (#PCDATA)> <!-- absolute path including protocol, or relative path to icon directory -->


<!-- Item.ARTICLE -->
<!ELEMENT data (name,icon?,perex,author,published,revisor?,editor?,forbid_discussions?)>
<!ELEMENT name (#PCDATA)> <!-- title of the Article -->
<!ELEMENT icon (#PCDATA)> <!-- absolute path including protocol, or relative path to icon directory -->
<!ELEMENT perex (#PCDATA)> <!-- description of the article -->
<!ELEMENT author (#PCDATA)> <!-- id of the author -->
<!ELEMENT published (#PCDATA)> <!-- ISO representation of day and time, when this article has been published -->
<!ELEMENT revisor (#PCDATA)> <!-- who checked grammar and spelling -->
<!ELEMENT editor (#PCDATA)> <!-- who approved this article -->
<!ELEMENT forbid_discussions (#PCDATA)> <!-- yes will prohibit discussions to this article -->

<!-- Item.Discussion -->
<!ELEMENT data (author?,text,title?)>
<!ELEMENT author (#PCDATA)> <!-- unknow user's name -->
<!ELEMENT title (#PCDATA)> <!-- title of this reaction, usually question -->
<!ELEMENT text (#PCDATA)> <!-- its text -->

<!-- Item.Request -->
<!ELEMENT data (author?,text,email?)>
<!ELEMENT author (#PCDATA)> <!-- unknow user's name -->
<!ELEMENT email (#PCDATA)> <!-- title of this reaction, usually question -->
<!ELEMENT text (#PCDATA)> <!-- its text -->

<!-- Item.Driver -->
<!ELEMENT data (name,version,url,note?)>
<!ELEMENT name (#PCDATA)> <!-- driver's name -->
<!ELEMENT version (#PCDATA)> <!-- driver's version -->
<!ELEMENT url (#PCDATA)> <!-- its url -->
<!ELEMENT note (#PCDATA)> <!-- its description -->

<!-- Item.Survey -->
<!ELEMENT anketa (title?,screen+,choices?)>
<!ELEMENT title (#PCDATA)> <!-- name of survey -->
<!ELEMENT choices (#PCDATA)> <!-- which parameters are choices (aka they are not texts) -->
<!ELEMENT choice (#PCDATA)> <!-- name of choice parameter-->
<!ELEMENT screen (#PCDATA)> <!-- definition of one screen -->
<!ATTLIST screen id (ID) #REQUIRED> <!-- identifier of the screen, first screen must have id "START" -->
<!ELEMENT template (#PCDATA)> <!-- name of template, that shall be displayed to the user -->
<!ELEMENT dump (dir,prefix,suffix)> <!-- instructs to dump all parameters to xml file -->
<!ELEMENT dir (#PCDATA)> <!-- directory, where to create a file -->
<!ELEMENT prefix (#PCDATA)> <!-- file will start with this prefix -->
<!ELEMENT suffix (#PCDATA)> <!-- file will end with this suffix -->
