src/cz/abclinuxu/dtd/Record.dtd


<!-- Record.ARTICLE -->
<!ELEMENT data (name?,icon?,content,part?)>
<!ELEMENT name (#PCDATA)> <!-- if Article is divided into several ArticleRecords, use it to give name to each one -->
<!ELEMENT icon (#PCDATA)> <!-- absolute path including protocol, or relative path to icon directory -->
<!ELEMENT content (#PCDATA)> <!-- content of the article (or its part) -->
<!ELEMENT part (#PCDATA)> <!-- part of the article (for multiple records per one article), starting at 0 -->


<!-- Record.HARDWARE -->
<!ELEMENT data (os,price?,driver?,settings?,params?,identification?,note?)>
<!ELEMENT price (#PCDATA)> <!-- user's evaluation of price -->
<!ELEMENT driver (#PCDATA)> <!-- kind of driver: kernel, XFree, binary -->
<!ELEMENT setup (#PCDATA)> <!-- how to set up this hardware -->
<!ELEMENT params (#PCDATA)> <!-- technical parameters (resolution, max syncs, ..) -->
<!ELEMENT identification (#PCDATA)> <!-- how Linux identifies this hardware (/proc, lspci) -->
<!ELEMENT note (#PCDATA)> <!-- other note, user's experience -->

<!-- Record.SOFTWARE -->
<!ELEMENT data (text,url?,version?)>
<!ELEMENT text (#PCDATA)> <!-- instructions -->
<!ELEMENT url (#PCDATA)> <!-- URL, probably link to homepage of the software -->
<!ELEMENT version (#PCDATA)> <!-- version of the software -->
