src/cz/abclinuxu/dtd/Record.dtd


<!-- Record.ARTICLE -->
<!ELEMENT data (name?,content+,related?,resources?)>
<!ELEMENT name (#PCDATA)> <!-- if Article is divided into several ArticleRecords, use it to give name to each one -->
<!ELEMENT content (#PCDATA)> <!-- content of the article (or its part) -->
<!ATTLIST content title (#PCDATA) #OPTIONAL> <!-- if there are multiple pages, you must name them -->
<!ELEMENT related (link+)> <!-- related articles on portal -->
<!ELEMENT resources (link+)> <!-- related resources outside of portal -->
<!ELEMENT link (#PCDATA)> <!-- contains text of link -->
<!ATTLIST link url (#PCDATA) #REQUIRED> <!-- URL of resource or article -->

<!-- Record.HARDWARE -->
<!ELEMENT data (os,price?,driver?,settings?,params?,identification?,note?)>
<!ELEMENT price (#PCDATA)> <!-- user's evaluation of price -->
<!ELEMENT driver (#PCDATA)> <!-- kind of driver: kernel, XFree, binary -->
<!ELEMENT setup (#PCDATA)> <!-- how to set up this hardware -->
<!ELEMENT params (#PCDATA)> <!-- technical parameters (resolution, max syncs, ..) -->
<!ELEMENT identification (#PCDATA)> <!-- how Linux identifies this hardware (/proc, lspci) -->
<!ELEMENT note (#PCDATA)> <!-- other note, user's experience -->

<!-- Record.SOFTWARE -->
<!ELEMENT data (text,url?,version?)>
<!ELEMENT text (#PCDATA)> <!-- instructions -->
<!ELEMENT url (#PCDATA)> <!-- URL, probably link to homepage of the software -->
<!ELEMENT version (#PCDATA)> <!-- version of the software -->

<!-- Record.Discussion -->
<!ELEMENT data (author?,text,url?,version?)>
<!ELEMENT author (#PCDATA)> <!-- unknow user's name -->
<!ELEMENT title (#PCDATA)> <!-- title of this reaction -->
<!ELEMENT text (#PCDATA)> <!-- its text -->
<!ELEMENT thread (#PCDATA)> <!-- int, id of parental Record.Discussion -->
