src/cz/abclinuxu/dtd/User.dtd

verze 2.0

<!ELEMENT data (personal,communication,profile,settings,system)>

<!ELEMENT personal (sex,birth_year?,area?,city?)>
<!ELEMENT sex (#PCDATA)> <!-- man or woman -->
<!ELEMENT birth_year (#PCDATA)> <!-- YYYY, v kterem roce se narodil -->
<!ELEMENT area (#PCDATA)> <!-- nazev kraje -->
<!ELEMENT city (#PCDATA)> <!-- jmeno mesta -->

<!ELEMENT communication (email)>
<!ELEMENT email (newsletter,weekly_summary)>
<!ATTLIST email valid (yes|no) #REQUIRED>
<!ELEMENT newsletter (#PCDATA)> <!-- yes or no, pravidelny mesicnik -->
<!ELEMENT weekly_summary (#PCDATA)> <!-- yes or no, tydenni sumar clanku a zajimavosti -->

<!ELEMENT profile (my_page?,about_myself?,home_page?,distributions?,linux_user_from_year?)>
<!ELEMENT my_page (#PCDATA)> <!-- kompletni obsah osobni stranky -->
<!ELEMENT about_myself (#PCDATA)> <!-- popis uzivatele -->
<!ELEMENT home_page (#PCDATA)> <!-- URL domovske stranky -->
<!ELEMENT linux_user_from_year (#PCDATA)> <!-- YYYY, od kdy pouziva linux -->
<!ELEMENT distributions (distribution)> <!-- ktere distribuce pouziva(l) -->
<!ELEMENT distribution (#PCDATA)> <!-- jmeno distribuce -->

<!ELEMENT settings (emoticons,login_cookie_validity)>
<!ELEMENT emoticons (#PCDATA)> <!-- yes or no, zda nahrazovat emotikony obrazkem -->
<!ELEMENT login_cookie_validity (#PCDATA)> <!-- integer, doba platnosti prihlasovaci cookie -->


<!ELEMENT system (registration_date?)>
<!ELEMENT registration_date (#PCDATA)> <!-- ISO format, kdy se zaregistroval -->



verze 1.0

<!ELEMENT data (ilikeq?,news?,sex?,ads?,www?,personal?)>
<!ELEMENT ilikeq (#PCDATA)> <!-- identification of user's I like Q account -->
<!ATTLIST ilikeq amount NMTOKEN #IMPLIED> <!-- total sum of rewards -->
<!ELEMENT sex (#PCDATA)> <!-- man or woman -->
<!ELEMENT news (#PCDATA)> <!-- yes, if we may send email about news on this server -->
<!ELEMENT ads (#PCDATA)> <!-- yes, if we may send two email advertisements a month -->
<!ELEMENT active (#PCDATA)> <!-- yes, if we the user is active. we dont send emails to inactive users -->
<!ELEMENT www (#PCDATA)> <!-- URL of user's homepage -->
<!ELEMENT personal (#PCDATA)> <!-- user's description of itself -->

