src/cz/abclinuxu/dtd/User.dtd

<!ELEMENT data (ilikeq?)>
<!ELEMENT ilikeq (#PCDATA)> <!-- identification of user's I like Q account -->
<!ELEMENT news (#PCDATA)> <!-- yes, if we may send email about news on this server -->
<!ELEMENT sex (#PCDATA)> <!-- man or woman -->
<!ELEMENT ads (#PCDATA)> <!-- yes, if we may send two email advertisements a month -->
<!ELEMENT www (#PCDATA)> <!-- URL of user's homepage -->
