src/cz/abclinuxu/dtd/User.dtd

verze 2.0

<!ELEMENT data (personal,communication,profile,settings,system)>

<!ELEMENT personal (sex,birth_year?,area?,city?,country?)>
<!ELEMENT sex (#PCDATA)> <!-- man or woman -->
<!ELEMENT birth_year (#PCDATA)> <!-- YYYY, v kterem roce se narodil -->
<!ELEMENT area (#PCDATA)> <!-- nazev kraje -->
<!ELEMENT city (#PCDATA)> <!-- jmeno mesta -->
<!ELEMENT country (#PCDATA)> <!-- jmeno statu -->

<!ELEMENT communication (email)>
<!ELEMENT email (newsletter?,weekly_summary?)>
<!ATTLIST email valid (yes|no) #REQUIRED>
<!ELEMENT newsletter (#PCDATA)> <!-- yes or no, pravidelny mesicnik -->
<!ELEMENT weekly_summary (#PCDATA)> <!-- yes or no, tydenni sumar clanku a zajimavosti -->

<!ELEMENT profile (my_page?,about_myself?,home_page?,photo?,distributions?,linux_user_from_year?)>
<!ELEMENT my_page (#PCDATA)> <!-- kompletni obsah osobni stranky -->
<!ELEMENT about_myself (#PCDATA)> <!-- popis uzivatele -->
<!ELEMENT home_page (#PCDATA)> <!-- URL domovske stranky -->
<!ELEMENT photo (#PCDATA)> <!-- URL fotky uzivatele -->
<!ELEMENT linux_user_from_year (#PCDATA)> <!-- YYYY, od kdy pouziva linux -->
<!ELEMENT distributions (distribution)> <!-- ktere distribuce pouziva(l) -->
<!ELEMENT distribution (#PCDATA)> <!-- jmeno distribuce -->

<!ELEMENT settings (emoticons?,cookie_valid?,index_discussions?, return_to_forum?)>
<!ELEMENT emoticons (#PCDATA)> <!-- yes or no, zda nahrazovat emotikony obrazkem -->
<!ELEMENT cookie_valid (#PCDATA)> <!-- integer, doba platnosti prihlasovaci cookie -->
<!ELEMENT index_discussions (#PCDATA)> <!-- integer, pocet diskusi na hlavni strance. -1 : vsechny -->
<!ELEMENT return_to_forum (#PCDATA)> <!-- yes or no, zda se po presunu diskuse vratit do diskusniho fora -->


<!ELEMENT system (registration_date?,last_login_date?)>
<!ELEMENT registration_date (#PCDATA)> <!-- ISO format, kdy se zaregistroval -->
<!ELEMENT last_login_date (#PCDATA)> <!-- ISO format, kdy se naposledy prihlasil -->



verze 1.0

<!ELEMENT data (ilikeq?,news?,sex?,ads?,www?,personal?)>
<!ELEMENT ilikeq (#PCDATA)> <!-- identification of user's I like Q account -->
<!ATTLIST ilikeq amount NMTOKEN #IMPLIED> <!-- total sum of rewards -->
<!ELEMENT sex (#PCDATA)> <!-- man or woman -->
<!ELEMENT news (#PCDATA)> <!-- yes, if we may send email about news on this server -->
<!ELEMENT ads (#PCDATA)> <!-- yes, if we may send two email advertisements a month -->
<!ELEMENT active (#PCDATA)> <!-- yes, if we the user is active. we dont send emails to inactive users -->
<!ELEMENT www (#PCDATA)> <!-- URL of user's homepage -->
<!ELEMENT personal (#PCDATA)> <!-- user's description of itself -->

